* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2, p {
    color: rgb(41, 7, 73);
}
a {
    text-decoration: none;
}
.basics {
    width: 90%;
    margin: 5px auto;
}
.logo {
    font-weight: bolder;
    font-size: 20px;
    color: rgb(41, 7, 73);
}
.tm {
    font-size: 6px;
    font-weight: 400;
}
.topnav, .navbar, .container, .second-line, .third-line, .third-line_header, .sec-content, .duvet {
    display: flex;
    justify-content: space-between;
}
.third-line_header{
    padding-top: 95px ;  
}
.second-line {
    padding-top: 25px;
}
.topnav {
    padding: 15px 0px;
    color: rgb(41, 7, 73);
}
.navbar {
    width: 300px;
}
.container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-image: url('/img/firstimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.basics-content {
    width: 520px;
}
.description, .title {
    margin-bottom: 10px;
}
.title {
    font-size: xx-large;
}
.title2 {
    font-size: large;
}
.container_btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
}
.row-title {
    font-size: 25px;
}
.row-title, .row-desc {
    margin-bottom: 5px;
}
.row {
    width: 35%;
    height: 400px;
}
.row img {
    width: 100%;
    border-radius: 10px;
    margin: 5px;
    height: 250px;
}

.row-content{
    width: 24%;
    height: 400px;
}
.row a {
    display: inline-block;
    border: 1px solid rgb(63, 8, 116);
    border-radius: 10px;
    background-color: white;
    color: blueviolet;
    padding: 10px 20px;
    margin: 5px;
}
.row-3i p {
    margin: 5px;
}
.row-3i a {
    margin: 7px;
}

.sec-content {
    height: 400px;
      
}
.sec-content img {
    width: 100%;
    border-radius: 10px;
    height: 250px;
    margin: 5px;  
}
.sec-row-img{
    width: 23%; 
}
.link {
    text-align: right;
    margin-left: 748px;
    color: rgb(41, 7, 73);
    font-size: 12px;
    border: 1px solid rgb(63, 8, 116);
    border-radius: 10px;
    padding: 10px 30px;
} 
.lastborn{
    width: 40%;
    height: 300px;
}
.Loner {
    padding-top: 25px;
}
.img {
    width: 50%;
    height: 300px;
}
.img img {
    width: 100%;
    height: 30vh;
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: gray;
    color: white;
}